---
import { FaCircleMinus, FaCirclePlus } from "react-icons/fa6";
import { LiaBarcodeSolid } from "react-icons/lia";
import { TbDna2, TbVirus } from "react-icons/tb";
import LineChart from "@/components/LineChart";
import Link from "@/components/Link";
import ShowMore from "@/components/ShowMore";
import Layout from "@/layouts/Layout.astro";
import { capitalize } from "@/util/string";
import { deriveDatum } from "./_derived";
import { getInheritance } from "./_inheritance";
import { getReferences } from "./_references";
import { tagOptions } from "./_tags";
import data from "../../../../data/STRchive-database.json";

/** generate pages for each datum, paths based on gene name */
export const getStaticPaths = async () =>
  data.map(({ id }) => ({ params: { id } }));

/** current page loci id in url */
const { id } = Astro.params;

/** look up full data entry from id */
const d = deriveDatum(data.find((d) => d.id === id));

/** "nice" id */
const niceId = id.replace("_", " ");

/** same genes, different locus */
const genes = data.filter(({ gene }) => gene === d.gene);
---

<Layout title={niceId}>
  <section>
    <h1><LiaBarcodeSolid />{niceId}</h1>

    {
      !!d.locus_tags.length && (
        <div class="tags">
          {d.locus_tags?.map((tag) => {
            const option = tagOptions.find((t) => t.value === tag);
            if (!option) return tag;
            const { Icon, color } = option;
            return (
              <div
                class="tag"
                style={{
                  background: `color-mix(in srgb, white, 25% ${color})`,
                }}
                data-tooltip={option.tooltip}
              >
                <Icon style={{ color }} />
                {capitalize(tag)}
              </div>
            );
          })}
        </div>
      )
    }

    <div class="boxes">
      <div class="box">
        <div><TbVirus />Disease ID</div>
        <div>{d.disease_id}</div>
      </div>

      <div class="box">
        <div><TbDna2 />Gene ID</div>
        <div>{d.gene}</div>
      </div>
    </div>

    {
      genes.length > 1 && (
        <div class="genes">
          <div class="heading">
            <TbDna2 />
            Other gene loci ({genes.length.toLocaleString()})
          </div>
          <div class="gene-grid">
            {genes.map((gene) =>
              d.id === gene.id ? (
                <span>{gene.id}</span>
              ) : (
                <Link to={gene.id}>{gene.id}</Link>
              ),
            )}
          </div>
        </div>
      )
    }

    <div class="references">
      {
        getReferences(d).map(({ name, Icon, ids }) => (
          <div>
            <div class="heading">
              <Icon />
              <span>{name}</span>
            </div>
            <div class="reference-list">
              {ids.map(({ name, value, link, tooltip, info }) => (
                <>
                  <Link to={info} data-tooltip={tooltip} noIcon>
                    {name}
                  </Link>
                  <div class="reference">
                    {value.map((value) => (
                      <Link to={link}>{value}</Link>
                    ))}
                  </div>
                </>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <section>
    <h2>Disease</h2>

    <div class="boxes">
      <div class="box">
        <div>Name</div>
        <div>{d.disease}</div>
      </div>

      <div class="box">
        <div>Inheritance</div>
        {
          (d.inheritance.length ? d.inheritance : [""]).map((inheritance) => (
            <Link to="https://www.ncbi.nlm.nih.gov/books/NBK132145/">
              {getInheritance(inheritance) || "-"}
            </Link>
          ))
        }
      </div>
    </div>

    <div class="boxes">
      {
        d.disease_description && (
          <div class="box full">
            <div>Description</div>
            <ShowMore client:load>{d.disease_description}</ShowMore>
          </div>
        )
      }

      {
        (d.prevalence || d.prevalence_details) && (
          <div class="box full">
            <div>Prevalence</div>
            {d.prevalence && <div>{d.prevalence}</div>}
            {d.prevalence_details && (
              <ShowMore client:load>{d.prevalence_details}</ShowMore>
            )}
          </div>
        )
      }
    </div>

    <LineChart
      client:load
      rows={[
        {
          name: "Age of Onset",
          color: "var(--primary)",
          values: [d.age_onset_min, d.age_onset_max],
        },
        {
          name: "(Typical)",
          color: "var(--secondary)",
          values: [d.typ_age_onset_min, d.typ_age_onset_max],
        },
      ]}
      min={0}
      max={90}
      xAxis="Years"
    />
  </section>

  <section>
    <h2>Locus</h2>

    <div class="boxes">
      {
        [
          { assembly: "hg19", db: "hg19" },
          { assembly: "hg38", db: "hg38" },
          { assembly: "t2t", db: "hub_3671779_hs1" },
        ].map(({ assembly, db }) => (
          <div class="box">
            <div>{assembly}</div>
            <Link
              to={`http://genome.ucsc.edu/cgi-bin/hgTracks?db=${db}&position=${d[`position_${assembly}`]}`}
            >
              {d[`position_${assembly}`]}
            </Link>
          </div>
        ))
      }
    </div>

    <div class="boxes">
      {
        d.details && (
          <div class="box full">
            <div>Description</div>
            <div>{d.details}</div>
          </div>
        )
      }
    </div>

    <div class="boxes">
      {
        (d.mechanism || d.mechanism_detail) && (
          <div class="box">
            <div>Mechanism</div>
            {d.mechanism && <div>{d.mechanism}</div>}
            {d.mechanism_detail && (
              <ShowMore client:load>{d.mechanism_detail}</ShowMore>
            )}
          </div>
        )
      }

      {
        d.location_in_gene && (
          <div class="box">
            <div>Location in Gene</div>
            <div>{d.location_in_gene}</div>
          </div>
        )
      }

      {
        d.gene_strand && (
          <div class="box">
            <div>Gene Strand</div>
            <div>
              {d.gene_strand === "+" && (
                <FaCirclePlus style={{ color: "var(--primary)" }} />
              )}
              {d.gene_strand === "-" && (
                <FaCircleMinus style={{ color: "var(--secondary)" }} />
              )}
            </div>
          </div>
        )
      }
    </div>

    <h2>Alleles</h2>

    <div class="boxes grid">
      {
        !!d.reference_motif_reference_orientation.length && (
          <div
            class="box"
            data-tooltip="Reference motif, reference orientation"
            style={{ gridColumn: "1 / -1" }}
          >
            <div>Ref. Motif</div>
            <div>{d.reference_motif_reference_orientation.join(", ")}</div>
          </div>
        )
      }

      {
        (!!d.benign_motif_reference_orientation.length ||
          !!d.benign_motif_gene_orientation.length) && (
          <>
            <div
              class="box benign"
              data-tooltip="Benign motif, reference orientation"
            >
              <div>Benign (ref.)</div>
              <div>
                {d.benign_motif_reference_orientation.join(", ") || "-"}
              </div>
            </div>
            <div
              class="box benign"
              data-tooltip="Benign motif, gene orientation"
            >
              <div>Benign (gene)</div>
              <div>{d.benign_motif_gene_orientation.join(", ") || "-"}</div>
            </div>
          </>
        )
      }

      {
        (!!d.pathogenic_motif_reference_orientation.length ||
          !!d.pathogenic_motif_gene_orientation.length) && (
          <>
            <div
              class="box pathogenic"
              data-tooltip="Pathogenic motif, reference orientation"
            >
              <div>Pathogenic (ref.)</div>
              <div>
                {d.pathogenic_motif_reference_orientation.join(", ") || "-"}
              </div>
            </div>
            <div
              class="box pathogenic"
              data-tooltip="Pathogenic motif, gene orientation"
            >
              <div>Pathogenic (gene)</div>
              <div>{d.pathogenic_motif_gene_orientation.join(", ") || "-"}</div>
            </div>
          </>
        )
      }

      {
        (!!d.unknown_motif_reference_orientation.length ||
          !!d.unknown_motif_gene_orientation.length) && (
          <>
            <div
              class="box unknown"
              data-tooltip="Unknown motif, reference orientation"
            >
              <div>Unknown (ref.)</div>
              <div>
                {d.unknown_motif_reference_orientation.join(", ") || "-"}
              </div>
            </div>
            <div
              class="box unknown"
              data-tooltip="Unknown motif, gene orientation"
            >
              <div>Unknown (gene)</div>
              <div>{d.unknown_motif_gene_orientation.join(", ") || "-"}</div>
            </div>
          </>
        )
      }
    </div>

    <LineChart
      client:load
      rows={[
        {
          name: "Benign",
          color: "var(--primary)",
          values: [d.benign_min, d.benign_max],
        },
        {
          name: "Pathogenic",
          color: "var(--secondary)",
          values: [d.pathogenic_min, d.pathogenic_max],
        },
      ]}
      xAxis="Units"
    />
  </section>

  <script define:vars={{ d }}>
    console.debug(d);
  </script>
</Layout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    gap: 5px 10px;
  }

  .tag {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    border-radius: 999px;
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: max-content;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  .grid > * {
    max-width: unset;
  }

  .box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 10px 20px;
    gap: 10px;
    border-radius: var(--rounded);
    background: var(--light-gray);
    overflow-wrap: anywhere;
  }

  .full {
    max-width: unset;
    text-align: justify;
  }

  .box > :first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--gray);
    font-weight: var(--bold);
  }

  .benign {
    background: color-mix(in srgb, var(--primary), white 90%);
  }

  .pathogenic {
    background: color-mix(in srgb, var(--secondary), white 90%);
  }

  .unknown {
    background: color-mix(in srgb, var(--tertiary), white 90%);
  }

  .box > :first-child svg {
    opacity: 0.5;
  }

  .genes {
    margin: 40px 0;
  }

  .heading {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    font-weight: var(--bold);
  }

  .heading svg {
    opacity: 0.5;
  }

  .gene-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    place-content: center;
    place-items: center;
    gap: 10px 20px;
  }

  .references {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    gap: 40px;
    text-align: left;
  }

  .reference-list {
    display: grid;
    grid-template-columns: auto auto;
    place-content: flex-start;
    place-items: flex-start;
    gap: 5px 20px;
  }

  .reference-list > :nth-child(odd) {
    color: var(--black);
    text-decoration: none;
  }

  .reference {
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>
