---
/** LOCUS PAGE */

import { FaCircleMinus, FaCirclePlus, FaRegCalendar } from "react-icons/fa6";
import { LiaSlashSolid, LuBarcode, LuFeather } from "react-icons/lu";
import { TbDna2, TbVirus } from "react-icons/tb";
import Button from "@/components/Button";
import { H1, H2 } from "@/components/Heading";
import LineChart from "@/components/LineChart";
import Link from "@/components/Link";
import ShowMoreLines from "@/components/ShowMoreLines";
import TableOfContents from "@/components/TableOfContents";
import Tag from "@/components/Tag";
import { deriveLocus } from "@/data/derived";
import { getIdentifiers } from "@/data/identifiers";
import { getInheritance } from "@/data/inheritance";
import Layout from "@/layouts/Layout.astro";
import { repo } from "@/layouts/meta";
import AdditionalLiterature from "@/locus/AdditionalLiterature";
import Citation from "@/locus/Citation";
import Cited from "@/locus/Cited";
import Gnomad from "@/locus/Gnomad";
import { getJsonBlame } from "@/util/git";
import curations from "~/criTRia-curations.json";
import gnomad from "~/plots/gnomad.json";
import citations from "~/STRchive-citations.json";
import loci from "~/STRchive-loci.json";

/** generate pages for each datum, paths based on id */
export const getStaticPaths = async () =>
  loci.map(({ id }) => ({ params: { id } }));

/** current page loci id in url */
const { id } = Astro.params;

/** look up full locus entry from id */
const locus = deriveLocus(
  loci.find((locus) => locus.id === id) || {},
  loci,
  citations,
);

/** whether there is raw gene search text file associated with this gene */
const hasRawSearch = Object.keys(
  import.meta.glob("~/literature/*.txt", { eager: true }),
).some((file) => file.includes(locus.gene));

/** get blame info of locus */
const blame = getJsonBlame(
  "../data/STRchive-loci.json",
  `"id":\\s*"${id}"\\s*,`,
);

/** get corresponding criTRia curation page */
const curation = curations.find((curation) => curation.Locus_ID === id);
---

<Layout title={locus.nice_id}>
  <TableOfContents client:only="react" />

  <!-- overview -->
  <section>
    <H1><LuBarcode />{locus.nice_id}</H1>

    <div
      class="flex max-w-full flex-wrap items-center justify-center gap-x-5 gap-y-2"
    >
      {
        !!locus.evidence?.length &&
          locus.evidence?.map((evidence) => (
            <Tag
              value={evidence}
              to={curation ? `/critria/${curation.Locus_ID}` : undefined}
              tooltip="See criTRia curation for this locus"
            />
          ))
      }

      {
        !!locus.locus_tags?.length &&
          locus.locus_tags?.map((tag) => (
            <Tag
              value={tag}
              to={`/loci?tag=${tag}#table`}
              tooltip="See other loci with this tag"
            />
          ))
      }
    </div>

    <div class="boxes">
      <div class="box">
        <div><TbVirus />Disease ID</div>
        <div>{locus.disease_id}</div>
      </div>

      <div class="box">
        <div><TbDna2 />Gene ID</div>
        <div>{locus.gene}</div>
      </div>

      <div class="box">
        <div><FaRegCalendar />Updated</div>
        <div>
          {blame.date}
          <br />
          v{blame.version}
        </div>
      </div>
    </div>

    {
      locus.genes.length > 1 && (
        <div class="genes">
          <div class="heading">
            <TbDna2 />
            Other gene loci ({locus.genes.length.toLocaleString()})
          </div>
          <div class="gene-list">
            {locus.genes.map((gene) =>
              id === gene.id ? (
                <span>{gene.id}</span>
              ) : (
                <Link to={`/loci/${gene.id}`}>{gene.id}</Link>
              ),
            )}
          </div>
        </div>
      )
    }

    <div class="identifiers">
      {
        getIdentifiers(locus).map(({ name, Icon, identifiers }) => (
          <div class="flex max-w-full flex-col items-center gap-4">
            <div class="heading">
              <Icon />
              <span>{name}</span>
            </div>
            <div class="identifier-list">
              {identifiers.map(({ name, links, tooltip, info }) => (
                <>
                  <Link to={info} data-tooltip={tooltip} arrow={false}>
                    {name}
                  </Link>
                  <div class="identifier-links">
                    {links.map(({ label, link }) => (
                      <Link to={link}>{label}</Link>
                    ))}
                  </div>
                </>
              ))}
            </div>
          </div>
        ))
      }
    </div>

    <Button
      className="w-60 self-center"
      to={`/loci/${id}/edit`}
      design="bubble"
    >
      <LuFeather />Suggest Edit
    </Button>
  </section>

  <!-- disease info -->
  <section>
    <H2>Disease</H2>
    {
      !!locus.disease_tags?.length && (
        <div class="flex max-w-full flex-wrap items-center justify-center gap-x-5 gap-y-2">
          {locus.disease_tags?.map((tag) => (
            <Tag
              value={tag}
              to={`/loci?tag=${tag}#table`}
              tooltip="See other loci with this tag"
            />
          ))}
        </div>
      )
    }

    <div class="boxes">
      <div class="box">
        <div>Name</div>
        <div>{locus.disease}</div>
      </div>

      <div class="box">
        <div>Inheritance</div>
        {
          (locus.inheritance ?? [""]).map((inheritance) => (
            <Link to="https://www.ncbi.nlm.nih.gov/books/NBK132145/">
              {getInheritance(inheritance) || "-"}
            </Link>
          ))
        }
      </div>
    </div>

    <div class="boxes">
      {
        locus.disease_description && (
          <div class="box wide">
            <div>Description</div>
            <ShowMoreLines client:load lines={3}>
              <Cited client:load value={locus.disease_description} />
            </ShowMoreLines>
          </div>
        )
      }

      {
        (locus.prevalence || locus.prevalence_details) && (
          <div class="box wide">
            <div>Prevalence</div>
            {locus.prevalence && (
              <div class="fraction">
                <span>{locus.prevalence[0]}</span>
                <LiaSlashSolid />
                <span>{locus.prevalence[1]}</span>
              </div>
            )}
            {locus.prevalence_details && (
              <ShowMoreLines client:load lines={1}>
                <Cited client:load value={locus.prevalence_details} />
              </ShowMoreLines>
            )}
          </div>
        )
      }
    </div>

    <div class="boxes">
      <LineChart
        client:load
        rows={[
          {
            name: "Age of Onset",
            className: "fill-primary",
            values: [locus.age_onset_min, locus.age_onset_max],
          },
          {
            name: "(Typical)",
            className: "fill-secondary",
            values: [locus.typ_age_onset_min, locus.typ_age_onset_max],
          },
        ]}
        min={0}
        max={90}
        xAxis="Years"
        width={200}
        height={50}
      />

      {
        locus.age_onset && (
          <div class="box wide">
            <div>Age of Onset Details</div>
            <ShowMoreLines client:load lines={3}>
              <Cited client:load value={locus.age_onset} />
            </ShowMoreLines>
          </div>
        )
      }
    </div>
  </section>

  <!-- locus info -->
  <section>
    <H2>Locus</H2>

    <div class="boxes">
      {
        [
          { assembly: "hg19", db: "hg19" },
          { assembly: "hg38", db: "hg38" },
          { assembly: "t2t", db: "hub_3671779_hs1" },
        ].map(({ assembly, db }) => (
          <div class="box">
            <div>{assembly}</div>
            <Link
              to={`http://genome.ucsc.edu/cgi-bin/hgTracks?db=${db}&position=${locus[`position_base1_${assembly}`]}`}
            >
              {locus[`position_base0_${assembly}`]}
            </Link>
          </div>
        ))
      }
    </div>

    <div class="boxes">
      {
        locus.details && (
          <div class="box wide">
            <div>Details</div>
            <ShowMoreLines client:load lines={3}>
              <Cited client:load value={locus.details} />
            </ShowMoreLines>
          </div>
        )
      }

      {
        (locus.mechanism || locus.mechanism_detail) && (
          <div class="box wide">
            <div>Mechanism</div>
            {locus.mechanism && <div>{locus.mechanism}</div>}
            {locus.mechanism_detail && (
              <ShowMoreLines client:load lines={1}>
                <Cited client:load value={locus.mechanism_detail} />
              </ShowMoreLines>
            )}
          </div>
        )
      }
    </div>

    <div class="boxes">
      {
        locus.year && (
          <div class="box">
            <div data-tooltip="Year first published">Year</div>
            <div>
              <Cited client:load value={locus.year} />
            </div>
          </div>
        )
      }

      {
        locus.location_in_gene && (
          <div class="box">
            <div>Location in Gene</div>
            <div>{locus.location_in_gene}</div>
          </div>
        )
      }

      {
        locus.gene_strand && (
          <div class="box">
            <div>Gene Strand</div>
            <div>
              {locus.gene_strand === "+" && (
                <FaCirclePlus style={{ color: "var(--primary)" }} />
              )}
              {locus.gene_strand === "-" && (
                <FaCircleMinus style={{ color: "var(--secondary)" }} />
              )}
            </div>
          </div>
        )
      }
    </div>

    <!-- allele info -->
    <H2>Alleles</H2>

    <div class="allele-list">
      {
        !!locus.reference_motif_reference_orientation.length && (
          <div class="box">
            <div data-tooltip="Reference motif, reference orientation">
              Ref. Motif
            </div>
            <div>{locus.reference_motif_reference_orientation.join(", ")}</div>
          </div>
        )
      }

      {
        (!!locus.benign_motif_reference_orientation.length ||
          !!locus.benign_motif_gene_orientation.length) && (
          <>
            <div class="box benign">
              <div data-tooltip="Benign motif, reference orientation">
                Benign (ref.)
              </div>
              <div>
                {locus.benign_motif_reference_orientation.join(", ") || "-"}
              </div>
            </div>
            <div class="box benign">
              <div data-tooltip="Benign motif, gene orientation">
                Benign (gene)
              </div>
              <div>{locus.benign_motif_gene_orientation.join(", ") || "-"}</div>
            </div>
          </>
        )
      }

      {
        (!!locus.pathogenic_motif_reference_orientation.length ||
          !!locus.pathogenic_motif_gene_orientation.length) && (
          <>
            <div class="box pathogenic">
              <div data-tooltip="Pathogenic motif, reference orientation">
                Pathogenic (ref.)
              </div>
              <div>
                {locus.pathogenic_motif_reference_orientation.join(", ") || "-"}
              </div>
            </div>
            <div class="box pathogenic">
              <div data-tooltip="Pathogenic motif, gene orientation">
                Pathogenic (gene)
              </div>
              <div>
                {locus.pathogenic_motif_gene_orientation.join(", ") || "-"}
              </div>
            </div>
          </>
        )
      }

      {
        (!!locus.unknown_motif_reference_orientation.length ||
          !!locus.unknown_motif_gene_orientation.length) && (
          <>
            <div class="box unknown">
              <div data-tooltip="Unknown motif, reference orientation">
                Unknown (ref.)
              </div>
              <div>
                {locus.unknown_motif_reference_orientation.join(", ") || "-"}
              </div>
            </div>
            <div class="box unknown">
              <div data-tooltip="Unknown motif, gene orientation">
                Unknown (gene)
              </div>
              <div>
                {locus.unknown_motif_gene_orientation.join(", ") || "-"}
              </div>
            </div>
          </>
        )
      }

      {
        (!!locus.interruption_reference_orientation.length ||
          !!locus.interruption_gene_orientation.length) && (
          <>
            <div class="box interruption">
              <div data-tooltip="Interruption motif, reference orientation">
                Interruption (ref.)
              </div>
              <div>
                {locus.interruption_reference_orientation.join(", ") || "-"}
              </div>
            </div>
            <div class="box interruption">
              <div data-tooltip="Interruption motif, gene orientation">
                Interruption (gene)
              </div>
              <div>{locus.interruption_gene_orientation.join(", ") || "-"}</div>
            </div>
          </>
        )
      }
    </div>

    <LineChart
      client:load
      rows={[
        {
          name: "Benign",
          className: "fill-primary",
          values: [locus.benign_min, locus.benign_max],
        },
        {
          name: "Intermediate",
          className: "fill-tertiary",
          values: [locus.intermediate_min, locus.intermediate_max],
        },
        {
          name: "Pathogenic",
          className: "fill-secondary",
          values: [locus.pathogenic_min, locus.pathogenic_max],
        },
      ]}
      xAxis="Units"
      width={200}
      height={75}
    />
  </section>

  <!-- gnomad data -->
  {
    gnomad[id] && (
      <section>
        <H2>gnomAD</H2>
        {gnomad[id].reliable ? (
          <Gnomad client:only="react" title={locus.gene} data={gnomad[id]} />
        ) : (
          <p class="text-center text-balance">
            <em>
              Pathogenic genotype frequency data is not displayed for this locus
              because a substantial number of large alleles failed manual review
              by the gnomAD team.
            </em>
          </p>
        )}
      </section>
    )
  }

  <!-- references -->
  {
    !!locus.references.length && (
      <section>
        <H2>References</H2>

        <p class="text-center text-balance">
          Direct supporting references for info on this page.
        </p>

        <div class="citations">
          {locus.references.map((citation) => (
            <Citation client:load {...citation} />
          ))}
        </div>
      </section>
    )
  }

  <!-- additional literature -->
  {
    (!!locus.additional_literature.length || hasRawSearch) && (
      <section>
        <H2>Additional Literature</H2>

        {!!locus.additional_literature.length && (
          <p class="text-center text-balance">
            Additional literature related to this locus.
          </p>
        )}

        {hasRawSearch && (
          <p class="text-center text-balance">
            <Link to={`${repo}/blob/main/data/literature/${locus.gene}01.txt`}>
              Raw PubMed search results
            </Link>{" "}
            <br />
            (All PubMed results returned by searching for this gene, tandem
            repeats, and disease, in medline format)
          </p>
        )}

        {!!locus.additional_literature.length && (
          <div class="citations">
            <AdditionalLiterature
              client:load
              additionalLiterature={locus.additional_literature}
            />
          </div>
        )}
      </section>
    )
  }

  <script define:vars={{ locus }}>
    console.debug(locus);
  </script>
</Layout>
