---
/** LOCUS PAGE */

import Button from "@/components/Button";
import { H1, H2 } from "@/components/Heading";
import Help from "@/components/Help";
import LineChart from "@/components/LineChart";
import Link from "@/components/Link";
import ShowMoreLines from "@/components/ShowMoreLines";
import TableOfContents from "@/components/TableOfContents";
import Tag from "@/components/Tag";
import { curations, loci } from "@/data";
import { getIdentifiers } from "@/data/identifiers";
import { getInheritance } from "@/data/inheritance";
import Layout from "@/layouts/Layout.astro";
import { repo } from "@/layouts/meta";
import AdditionalLiterature from "@/locus/AdditionalLiterature";
import Citation from "@/locus/Citation";
import Cited from "@/locus/Cited";
import Gnomad from "@/locus/Gnomad";
import { getJsonBlame } from "@/util/git";
import {
  IconCalendar,
  IconCalendarDue,
  IconChartPie,
  IconCirclePlusMinus,
  IconCirclesRelation,
  IconDna2,
  IconFeather,
  IconFileText,
  IconFocus2,
  IconHeartSearch,
  IconId,
  IconMapPin,
  IconRulerMeasure,
  IconSignature,
  IconSitemap,
  IconSlash,
  IconTag,
  IconTallymark4,
  IconTool,
  IconVirus,
} from "@tabler/icons-react";
import gnomad from "~/plots/gnomad.json";

/** generate pages for each datum, paths based on id */
export const getStaticPaths = async () =>
  loci.map(({ id }) => ({ params: { id } }));

/** current page loci id in url */
const { id } = Astro.params;

/** look up full locus entry from id */
const locus = loci.find((locus) => locus.id === id);

if (!locus) throw Error(`locus ${id} not found`);

/** whether there is raw gene search text file associated with this gene */
const hasRawSearch = Object.keys(
  import.meta.glob("~/literature/*.txt", { eager: true }),
).some((file) => file.includes(locus.gene));

/** get blame info of locus */
const blame = getJsonBlame(
  "../data/STRchive-loci.json",
  `"id":\\s*"${id}"\\s*,`,
);

/** get corresponding criTRia curation page */
const curation = curations.find((curation) => curation.Locus_ID === id);

/** nice title */
const title = `Locus ${locus.id.replaceAll("_", " ")}`;
---

<Layout title={title}>
  <TableOfContents client:only="react" />

  <!-- overview -->
  <section>
    <H1><IconTallymark4 />{title}</H1>

    <!-- overview tags -->
    <div class="flex flex-wrap items-center justify-center gap-4">
      <IconTag />
      {
        locus.evidence.map((evidence) => (
          <Tag
            client:load
            value={evidence}
            to={curation ? `/critria/${curation.Locus_ID}` : undefined}
            tooltip="See criTRia curation for this locus"
          />
        ))
      }
      {
        locus.locus_tags.map((tag) => (
          <Tag
            client:load
            value={tag}
            to={`/loci?tag=${tag}#table`}
            tooltip="See other loci with this tag"
          />
        ))
      }
    </div>

    <div class="boxes">
      <!-- disease -->
      <div class="box">
        <strong><IconVirus />Disease ID</strong>
        <div>{locus.disease_id}</div>
      </div>

      <!-- gene -->
      <div class="box">
        <strong><IconDna2 />Gene ID</strong>
        <div>{locus.gene}</div>
      </div>

      <!-- updated -->
      <div class="box">
        <strong><IconCalendar />Updated</strong>
        <div>
          {blame.date || "–"}
          <br />
          v{blame.version || "–"}
        </div>
      </div>

      <!-- other loci -->
      <div class="box">
        <strong>
          <IconDna2 />
          Other gene loci
        </strong>
        <div class="flex flex-wrap gap-2">
          {
            locus.genes
              .filter((gene) => gene.id !== id)
              .map((gene) => <Link to={`/loci/${gene.id}`}>{gene.id}</Link>)
          }
          {locus.genes.length <= 1 && "–"}
        </div>
      </div>

      <!-- links -->
      {
        getIdentifiers(locus).map(({ name, Icon, identifiers }) => (
          <div class="box box-2">
            <strong>
              <Icon />
              {name}
            </strong>
            <div class="grid grid-cols-[auto_auto_auto] items-center justify-start gap-x-4 gap-y-2 max-sm:grid-cols-1">
              {identifiers.map(({ name, links, tooltip, info }) => (
                <>
                  <Help client:load>{tooltip}</Help>
                  <Link
                    to={info}
                    arrow={false}
                    className="text-black no-underline"
                  >
                    {name}
                  </Link>
                  <div class="flex flex-wrap gap-2">
                    {links.map(({ label, link }) => (
                      <Link to={link}>{label}</Link>
                    ))}
                  </div>
                </>
              ))}
              {!identifiers.length && "–"}
            </div>
          </div>
        ))
      }
    </div>

    <Button
      className="w-60 self-center"
      to={`/loci/${id}/edit`}
      design="bubble"
    >
      <IconFeather />Suggest Edit
    </Button>
  </section>

  <!-- disease info -->
  <section>
    <H2>Disease</H2>

    <!-- disease tags -->
    <div class="flex flex-wrap items-center justify-center gap-2">
      <IconTag />
      {
        locus.disease_tags.map((tag) => (
          <Tag
            client:load
            value={tag}
            to={`/loci?tag=${tag}#table`}
            tooltip="See other loci with this tag"
          />
        ))
      }
    </div>

    <!-- details -->
    <div class="boxes">
      <div class="box">
        <strong><IconSignature />Name</strong>
        {locus.disease}
      </div>

      <!-- inheritance -->
      <div class="box">
        <strong><IconSitemap />Inheritance</strong>
        <div class="flex flex-wrap gap-2">
          {
            locus.inheritance.map((inheritance) => (
              <Link to="https://www.ncbi.nlm.nih.gov/books/NBK132145/">
                {getInheritance(inheritance)}
              </Link>
            ))
          }
        </div>
        {!locus.inheritance.length && "–"}
      </div>

      <!-- description -->
      <div class="box box-2">
        <strong><IconFileText />Description</strong>
        <ShowMoreLines client:load lines={3}>
          <Cited client:load value={locus.disease_description} />
        </ShowMoreLines>
      </div>

      <!-- prevalence -->
      <div class="box box-2">
        <strong><IconChartPie />Prevalence</strong>
        {
          locus.prevalence && (
            <div class="flex items-center p-1 *:relative">
              <span class="-top-1">{locus.prevalence[0]}</span>
              <IconSlash />
              <span class="top-1">{locus.prevalence[1]}</span>
            </div>
          )
        }
        {
          locus.prevalence_details && (
            <ShowMoreLines client:load lines={2}>
              <Cited client:load value={locus.prevalence_details} />
            </ShowMoreLines>
          )
        }
      </div>

      <!-- onset -->
      <div class="box box-2">
        <strong><IconHeartSearch />Age of Onset</strong>
        <LineChart
          client:load
          className="col-span-2 max-md:col-span-1"
          rows={[
            {
              name: "Age of Onset",
              className: "fill-primary",
              values: [locus.age_onset_min ?? 0, locus.age_onset_max ?? 0],
            },
            {
              name: "(Typical)",
              className: "fill-secondary",
              values: [
                locus.typ_age_onset_min ?? 0,
                locus.typ_age_onset_max ?? 0,
              ],
            },
          ]}
          min={0}
          max={90}
          xAxis="Years"
          width={200}
          height={50}
        />
        {
          locus.age_onset && (
            <ShowMoreLines client:load lines={3}>
              <Cited client:load value={locus.age_onset} />
            </ShowMoreLines>
          )
        }
      </div>

      <!-- hpo -->
      <div class="box box-3">
        <strong><IconId />HPO Terms</strong>
        <div class="flex flex-wrap gap-2">
          {
            locus.hpo_terms?.map((term) => (
              <Link
                to={`https://hpo.jax.org/app/browse/term/${term.split(" ")[0]}`}
              >
                {term}
              </Link>
            ))
          }
          {!locus.hpo_terms?.length && "–"}
        </div>
      </div>

      <!-- association -->
      <div class="box">
        <strong><IconCirclesRelation />Association</strong>
        <div class="flex flex-wrap gap-2">{locus.association_type}</div>
      </div>
    </div>
  </section>

  <!-- locus info -->
  <section>
    <H2>Locus</H2>

    <!-- positions -->
    <div class="boxes grid-cols-3">
      {
        (
          [
            { assembly: "hg19", db: "hg19" },
            { assembly: "hg38", db: "hg38" },
            { assembly: "t2t", db: "hub_3671779_hs1" },
          ] as const
        ).map(({ assembly, db }) => (
          <div class="box">
            <strong>
              <IconFocus2 />
              {assembly}
            </strong>
            <Link
              to={`http://genome.ucsc.edu/cgi-bin/hgTracks?db=${db}&position=${locus[`position_base1_${assembly}`]}`}
            >
              {locus[`position_base0_${assembly}`] || "–"}
            </Link>
          </div>
        ))
      }

      <!-- details -->
      <div class="box box-2">
        <strong><IconFileText />Details</strong>
        <ShowMoreLines client:load lines={3}>
          {locus.details && <Cited client:load value={locus.details} />}
          {!locus.details && "–"}
        </ShowMoreLines>
      </div>

      <!-- mechanism -->
      <div class="box">
        <strong><IconTool />Mechanism</strong>
        {locus.mechanism && <div>{locus.mechanism}</div>}
        {
          locus.mechanism_detail && (
            <ShowMoreLines client:load lines={2}>
              <Cited client:load value={locus.mechanism_detail} />
            </ShowMoreLines>
          )
        }
      </div>
    </div>

    <div class="boxes grid-cols-3">
      <!-- year -->
      <div class="box">
        <strong
          ><IconCalendarDue />Year <Help client:load client:load
            >Year first published</Help
          ></strong
        >
        <div>
          {locus.year && <Cited client:load value={locus.year} />}
          {!locus.year && "–"}
        </div>
      </div>

      <!-- location -->
      <div class="box">
        <strong><IconMapPin />Location in Gene</strong>
        <div>{locus.location_in_gene || "–"}</div>
      </div>

      <!-- strand -->
      <div class="box">
        <strong><IconCirclePlusMinus />Gene Strand</strong>
        <Tag
          client:load
          value={locus.gene_strand}
          small
          className="self-start"
        />
      </div>
    </div>

    <!-- allele info -->
    <H2>Alleles</H2>

    <div class="boxes">
      <!-- ref -->
      <div class="box box-2">
        <strong>
          <IconTallymark4 />Ref. Motif <Help client:load
            >Reference motif, reference orientation</Help
          >
        </strong>
        <div>{locus.reference_motif_reference_orientation.join(", ")}</div>
      </div>

      <!-- ranges -->
      <div class="box box-2">
        <strong><IconRulerMeasure />Ranges</strong>
        <LineChart
          client:load
          rows={[
            {
              name: "Benign",
              className: "fill-primary",
              values: [locus.benign_min ?? 0, locus.benign_max ?? 0],
            },
            {
              name: "Intermediate",
              className: "fill-tertiary",
              values: [
                locus.intermediate_min ?? 0,
                locus.intermediate_max ?? 0,
              ],
            },
            {
              name: "Pathogenic",
              className: "fill-secondary",
              values: [locus.pathogenic_min ?? 0, locus.pathogenic_max ?? 0],
            },
          ]}
          xAxis="Units"
          width={200}
          height={75}
        />
      </div>

      <!-- benign -->
      <div class="box box-primary">
        <strong>
          <IconTallymark4 />Benign (ref.) <Help client:load
            >Benign motif, reference orientation</Help
          >
        </strong>
        <div>
          {locus.benign_motif_reference_orientation.join(", ") || "–"}
        </div>
      </div>
      <div class="box box-primary">
        <strong>
          <IconTallymark4 />Benign (gene) <Help client:load
            >Benign motif, gene orientation</Help
          >
        </strong>
        <div>{locus.benign_motif_gene_orientation.join(", ") || "–"}</div>
      </div>

      <!-- pathogenic -->
      <div class="box box-secondary">
        <strong>
          <IconTallymark4 />Pathogenic (ref.) <Help client:load
            >Pathogenic motif, reference orientation</Help
          >
        </strong>
        <div>
          {locus.pathogenic_motif_reference_orientation.join(", ") || "–"}
        </div>
      </div>
      <div class="box box-secondary">
        <strong>
          <IconTallymark4 />Pathogenic (gene) <Help client:load
            >Pathogenic motif, gene orientation</Help
          >
        </strong>
        <div>
          {locus.pathogenic_motif_gene_orientation.join(", ") || "–"}
        </div>
      </div>

      <!-- unknown -->
      <div class="box">
        <strong>
          <IconTallymark4 />Unknown (ref.) <Help client:load
            >Unknown motif, reference orientation</Help
          >
        </strong>
        <div>
          {locus.unknown_motif_reference_orientation.join(", ") || "–"}
        </div>
      </div>
      <div class="box">
        <strong>
          <IconTallymark4 />Unknown (gene) <Help client:load
            >Unknown motif, gene orientation</Help
          >
        </strong>
        <div>
          {locus.unknown_motif_gene_orientation.join(", ") || "–"}
        </div>
      </div>

      <!-- interruption -->
      <div class="box box-tertiary">
        <strong>
          <IconTallymark4 />Interruption (ref.) <Help client:load
            >Interruption motif, reference orientation</Help
          >
        </strong>
        <div>
          {locus.interruption_reference_orientation.join(", ") || "–"}
        </div>
      </div>
      <div class="box box-tertiary">
        <strong>
          <IconTallymark4 />Interruption (gene) <Help client:load
            >Interruption motif, gene orientation</Help
          >
        </strong>
        <div>{locus.interruption_gene_orientation.join(", ") || "–"}</div>
      </div>
    </div>
  </section>

  <!-- gnomad -->
  {
    id in gnomad && (
      <section>
        <H2>gnomAD</H2>
        {gnomad[id as keyof typeof gnomad].reliable ? (
          <Gnomad
            client:only="react"
            title={locus.gene}
            data={gnomad[id as keyof typeof gnomad]}
          />
        ) : (
          <p class="text-center text-balance">
            <em>
              Pathogenic genotype frequency data is not displayed for this locus
              because a substantial number of large alleles failed manual review
              by the gnomAD team.
            </em>
          </p>
        )}
      </section>
    )
  }

  <!-- references -->
  {
    !!locus.references.length && (
      <section>
        <H2>References</H2>

        <p class="text-center text-balance">
          Direct supporting references for info on this page.
        </p>

        <div class="boxes grid-cols-3">
          {locus.references.map((citation) => (
            <Citation client:load {...citation} />
          ))}
        </div>
      </section>
    )
  }

  <!-- additional literature -->
  <section>
    <H2>Additional Literature</H2>

    <p class="text-center text-balance">
      Additional literature related to this locus.
    </p>

    {
      hasRawSearch && (
        <p class="text-center text-balance">
          <Link to={`${repo}/blob/main/data/literature/${locus.gene}01.txt`}>
            Raw PubMed search results
          </Link>{" "}
          <br />
          (All PubMed results returned by searching for this gene, tandem
          repeats, and disease, in medline format)
        </p>
      )
    }

    <div class="boxes grid-cols-2">
      <AdditionalLiterature
        client:load
        additionalLiterature={locus.additional_literature}
      />
    </div>
  </section>

  <script define:vars={{ locus }}>
    console.debug(locus);
  </script>
</Layout>
