---
/** LOCI PAGE */

import { FaArrowDown, FaChartLine, FaGithub, FaTable } from "react-icons/fa6";
import { LiaBarcodeSolid } from "react-icons/lia";
import { LuDownload } from "react-icons/lu";
import Heading from "@/components/Heading.astro";
import Link from "@/components/Link";
import PlotlyChart from "@/components/PlotlyChart";
import TableOfContents from "@/components/TableOfContents";
import Layout from "@/layouts/Layout.astro";
import { repo, version } from "@/layouts/meta";
import Table from "@/loci/Table";
import hg19bed from "../../../../data/STRchive-disease-loci.hg19.bed?url";
import hg19defs from "../../../../data/STRchive-disease-loci.hg19.TRGT.bed?url";
import hg38bed from "../../../../data/STRchive-disease-loci.hg38.bed?url";
import hg38defs from "../../../../data/STRchive-disease-loci.hg38.TRGT.bed?url";
import ageOnset from "../../../../data/plots/age-onset.json";
import pathSize from "../../../../data/plots/path-size.json";
import loci from "../../../../data/STRchive-loci.json";
import t2tbed from "../../../../data/STRchive-disease-loci.T2T-chm13.bed?url";
import t2tdefs from "../../../../data/STRchive-disease-loci.T2T-chm13.TRGT.bed?url";

/** download links */
const downloads = [
  { file: hg19defs, label: "hg19" },
  { file: hg38defs, label: "hg38" },
  { file: t2tdefs, label: "T2T-chm13" },
  { file: hg19bed, label: "hg19" },
  { file: hg38bed, label: "hg38" },
  { file: t2tbed, label: "T2T-chm13" },
].map(({ ...download }) => ({
  ...download,
  filename:
    /** get raw filename */
    download.file
      .split("/")
      .pop()
      /** insert version in download filename */
      .replace(/(STRchive-disease-loci)/, `$1-v${version}`),
}));

const defDownloads = downloads.slice(0, 3);
const bedDownloads = downloads.slice(3);
---

<Layout title="Loci">
  <TableOfContents client:only="react" />

  <section>
    <Heading level={1}><LiaBarcodeSolid />Loci</Heading>
  </section>

  <!-- downloads -->
  <section>
    <Heading level={2}><FaArrowDown />Downloads</Heading>

    <Link to={`${repo}/tree/main/data`} className="button">
      <FaGithub />Full Dataset
    </Link>

    <br />
    <br />

    <Link to="https://github.com/PacificBiosciences/trgt">TRGT</Link> definitions
    for genotyping in PacBio HiFi reads:

    <br />

    {
      defDownloads.map(({ file, label, filename }) => (
        <Link to={file} className="button" download={filename}>
          {label}
          <LuDownload />
        </Link>
      ))
    }

    <br />
    <br />

    Extended BED format for filtering genomic data:

    <br />

    {
      bedDownloads.map(({ file, label, filename }) => (
        <Link to={file} className="button" download={filename}>
          {label}
          <LuDownload />
        </Link>
      ))
    }
  </section>

  <!-- table -->
  <section>
    <Heading level={2}><FaTable />Table</Heading>

    <p class="center">
      Full table of tandem repeat loci associated with Mendelian diseases.
    </p>

    <Table client:load loci={loci} />
  </section>

  <!-- plots -->
  <section class="full">
    <Heading level={2}><FaChartLine />Plots</Heading>

    <p class="center">High-level, visual overview of loci.</p>

    <div class="charts">
      <div>
        <Heading level={3}>Pathogenic Size Range</Heading>
        <PlotlyChart
          client:only="react"
          data={pathSize.data}
          layout={pathSize.layout}
        />
      </div>
      <div>
        <Heading level={3}>Age of Onset</Heading>
        <PlotlyChart
          client:only="react"
          data={ageOnset.data}
          layout={ageOnset.layout}
        />
      </div>
    </div>
  </section>
</Layout>
