---
/** LOCI PAGE */

import { FaArrowDown, FaChartLine, FaGithub, FaTable } from "react-icons/fa6";
import { LiaBarcodeSolid } from "react-icons/lia";
import { LuDownload } from "react-icons/lu";
import Heading from "@/components/Heading.astro";
import Link from "@/components/Link";
import PlotlyChart from "@/components/PlotlyChart";
import TableOfContents from "@/components/TableOfContents";
import Layout from "@/layouts/Layout.astro";
import Table from "@/loci/Table";
import hg19defs from "../../../../data/hg19.STRchive-disease-loci.TRGT.bed?url";
import hg38defs from "../../../../data/hg38.STRchive-disease-loci.TRGT.bed?url";
import ageOnset from "../../../../data/plots/age-onset.json";
import pathSize from "../../../../data/plots/path-size.json";
import data from "../../../../data/STRchive-database.json";
import t2tdefs from "../../../../data/T2T-chm13.STRchive-disease-loci.TRGT.bed?url";
---

<Layout title="Loci">
  <TableOfContents client:only="react" />

  <section>
    <Heading level={1}><LiaBarcodeSolid />Loci</Heading>
  </section>

  <!-- downloads -->
  <section>
    <Heading level={2}><FaArrowDown />Downloads</Heading>

    <Link
      to="https://github.com/dashnowlab/STRchive/tree/main/data"
      className="button"
    >
      <FaGithub />Full Dataset
    </Link>
    <br />
    <br />

    <Link to="https://github.com/PacificBiosciences/trgt">TRGT definitions</Link
    > for genotyping in PacBio HiFi reads:

    <br />
    <br />

    <Link to={hg19defs} className="button" download>hg19<LuDownload /></Link>
    <Link to={hg38defs} className="button" download>hg38<LuDownload /></Link>
    <Link to={t2tdefs} className="button" download>T2T-chm13<LuDownload /></Link
    >
  </section>

  <!-- table -->
  <section>
    <Heading level={2}><FaTable />Table</Heading>

    <p class="center">
      Full table of tandem repeat loci associated with Mendelian diseases.
    </p>

    <Table client:load data={data} />
  </section>

  <!-- plots -->
  <section class="full">
    <Heading level={2}><FaChartLine />Plots</Heading>

    <p class="center">High-level, visual overview of loci.</p>

    <div class="charts">
      <div>
        <Heading level={3}>Pathogenic Size Range</Heading>
        <PlotlyChart
          client:only="react"
          data={pathSize.x.data}
          layout={pathSize.x.layout}
        />
      </div>
      <div>
        <Heading level={3}>Age of Onset</Heading>
        <PlotlyChart
          client:only="react"
          data={ageOnset.x.data}
          layout={ageOnset.x.layout}
        />
      </div>
    </div>
  </section>
</Layout>
