---
/** LOCI PAGE */

import Button from "@/components/Button";
import { H1, H2, H3 } from "@/components/Heading";
import PlotlyChart from "@/components/PlotlyChart";
import TableOfContents from "@/components/TableOfContents";
import Layout from "@/layouts/Layout.astro";
import { repo } from "@/layouts/meta";
import DownloadTable from "@/loci/DownloadTable";
import LociTable from "@/loci/LociTable";
import {
  IconBrandGithub,
  IconChartBar,
  IconChartCandle,
  IconChartLine,
  IconDownload,
  IconPlus,
  IconTallymark4,
} from "@tabler/icons-react";
import ageOnset from "~/plots/age-onset.json";
import pathSize from "~/plots/path-size.json";
---

<Layout title="Loci">
  <TableOfContents client:only="react" />

  <section>
    <H1><IconTallymark4 />Loci</H1>

    <div class="flex flex-wrap items-center justify-center gap-4">
      <span>Tandem repeat loci associated with Mendelian diseases.</span>

      <Button design="bubble" to={`${repo}/tree/main/data`}>
        <IconBrandGithub /><span>Full Dataset</span>
      </Button>
    </div>

    <LociTable client:load />

    <Button className="w-60 self-center" design="bubble" to="/loci/new">
      <IconPlus />
      Suggest New
    </Button>
  </section>

  <!-- downloads -->
  <section>
    <H2><IconDownload />Downloads</H2>

    <DownloadTable client:load />

    <p>⚠️ Still under development, use with caution</p>
  </section>

  <!-- plots -->
  <section class="width-full">
    <H2><IconChartLine />Plots</H2>

    <p class="text-center text-balance">High-level, visual overview of loci.</p>

    <div class="grid grid-cols-2 gap-8 max-md:grid-cols-1">
      <div class="flex flex-col items-center gap-8">
        <H3><IconChartBar />Pathogenic Size Range</H3>
        <PlotlyChart
          client:only="react"
          data={pathSize.data}
          layout={pathSize.layout}
        />
      </div>

      <div class="flex flex-col items-center gap-8">
        <H3><IconChartCandle />Age of Onset</H3>
        <PlotlyChart
          client:only="react"
          data={ageOnset.data}
          layout={ageOnset.layout}
        />
      </div>
    </div>
  </section>
</Layout>
