---
import AnglesDown from "@/assets/angles-down.svg?react";
import Download from "@/assets/download.svg?react";
import GitHub from "@/assets/github.svg?react";
import Link from "@/components/Link";
import Layout from "@/layouts/Layout.astro";
import Table from "./_table.jsx";
import hg19defs from "../../../../data/hg19.STRchive-disease-loci.TRGT.bed?url";
import hg38defs from "../../../../data/hg38.STRchive-disease-loci.TRGT.bed?url";
import data from "../../../../data/STRchive-database.json";
import t2tdefs from "../../../../data/T2T-chm13.STRchive-disease-loci.TRGT.bed?url";

const processedData = data.map((d) => ({
  ...d,
  position_hg38: `${d.chrom}:${d.start_hg38}-${d.stop_hg38}`,
  tags: [
    ...(d.tags ?? []),
    d.details?.match(/conflict/i) && "conflicting",
  ].filter(Boolean),
}));
---

<Layout title="Data">
  <section>
    <h1>Data</h1>

    Jump to:
    <Link to="#downloads" className="button-secondary"
      >Downloads<AnglesDown /></Link
    >
    <Link to="#all-loci" className="button-secondary"
      >All Loci<AnglesDown /></Link
    >
    <Link to="#visual-overview" className="button-secondary"
      >Visual Overview<AnglesDown /></Link
    >
  </section>

  <section>
    <h2 id="downloads">Downloads</h2>

    <Link
      to="https://github.com/dashnowlab/STRchive/tree/main/data"
      className="button"
    >
      <GitHub />Full Dataset
    </Link>
    <br />
    <br />

    <Link to="https://github.com/PacificBiosciences/trgt">TRGT definitions</Link
    > for genotyping in PacBio HiFi reads:

    <br />
    <br />

    <Link to={hg19defs} className="button" download>hg19<Download /></Link>
    <Link to={hg38defs} className="button" download>hg38<Download /></Link>
    <Link to={t2tdefs} className="button" download>T2T-chm13<Download /></Link>
  </section>

  <section>
    <h2 id="all-loci">All Loci</h2>

    <Table client:load data={processedData} />
  </section>

  <section>
    <h2 id="visual-overview">Visual Overview</h2>

    <p class="center">The data, at a high level.</p>

    <div class="plot-container">
      <div class="plots">
        <div>
          <h3>Pathogenic Size Range</h3>
          <iframe class="plot" src="/plots/path-size.html"></iframe>
        </div>
        <div>
          <h3>Age of Onset</h3>
          <iframe class="plot" src="/plots/age-onset.html"></iframe>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  iframe {
    border: none;
  }

  .plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plots {
    --gap: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: stretch;
    width: calc(100vw - 120px);
    gap: 40px;
  }

  @media (max-width: 800px) {
    .plots {
      grid-template-columns: 1fr;
    }
  }

  .plot {
    width: 100%;
    height: 1030px;
    border-radius: var(--rounded);
    box-shadow: var(--box-shadow);
  }
</style>
