---
import Alert from "@/components/Alert";
import Button from "@/components/Button";
import { H1, H2 } from "@/components/Heading";
import TableOfContents from "@/components/TableOfContents";
import Tag from "@/components/Tag";
import EvidenceTable from "@/critria/EvidenceTable";
import { curations } from "@/data";
import Layout from "@/layouts/Layout.astro";
import Citation from "@/locus/Citation";
import Cited from "@/locus/Cited";
import {
  IconArrowLeft,
  IconArrowRight,
  IconAward,
  IconBookmark,
  IconBooks,
  IconCalendarDue,
  IconChecks,
  IconDna2,
  IconFileText,
  IconHistory,
  IconSitemap,
  IconTimelineEventText,
  IconUserCheck,
  IconVirus,
} from "@tabler/icons-react";

/** generate pages for each datum, paths based on id */
export const getStaticPaths = async () =>
  curations.map(({ Locus_ID }) => ({ params: { id: Locus_ID } }));

/** current page curation id in url */
const { id } = Astro.params;

/** look up full curation entry from id */
const curation = curations.find((item) => item.Locus_ID === id);

if (!curation) throw Error(`no curation found for locus ${id}`);
---

<Layout title={`Curation ${curation.nice_id}`}>
  <TableOfContents client:only="react" />

  <!-- overview -->
  <section>
    <H1><IconBookmark />Curation {curation.nice_id}</H1>

    <div class="boxes">
      <div class="box">
        <strong><IconDna2 />Gene</strong>
        {curation.Gene}
      </div>
      <div class="box">
        <strong><IconVirus />Disease</strong>
        {curation.Disease_ID}
      </div>
      <div class="box">
        <strong><IconSitemap />Inheritance</strong>
        {curation.Inheritance ?? "–"}
      </div>
      <div class="box">
        <strong><IconChecks />Classification</strong>
        <Tag value={curation.classification} />
      </div>
      <div class="box">
        <strong><IconAward />Total Score</strong>
        {curation.total_score}
      </div>
      <div class="box">
        <strong><IconBooks />Pubs Reviewed</strong>
        {curation.publication_count ?? "–"}
      </div>
      <div class="box">
        <strong><IconCalendarDue />Publication Span</strong>
        {
          curation.publication_interval_years != null
            ? `${curation.publication_interval_years} years`
            : "–"
        }
      </div>
      <div class="box">
        <strong><IconTimelineEventText />Publication Interval</strong>
        {
          curation.publication_interval_years != null
            ? `${curation.publication_interval_years} years`
            : "–"
        }
      </div>
      <div class="box">
        <strong><IconHistory />Last Updated</strong>
        {curation.Date}
      </div>
      <div class="box box-2">
        <strong><IconUserCheck />Curator(s)</strong>
        {curation.Curator}
      </div>
      <div class="box box-4">
        <strong><IconFileText />Description</strong>
        <p>
          <Cited client:load value={curation.Description} />
        </p>
      </div>
    </div>

    <div class="flex flex-wrap justify-center gap-4">
      <Button className="w-60 self-center" to="/critria" design="bubble">
        <IconArrowLeft />All CriTRia Curations
      </Button>

      <Button
        className="w-60 self-center"
        to={`/loci/${curation.Locus_ID}`}
        design="bubble"
      >
        Locus Page<IconArrowRight />
      </Button>
    </div>
  </section>

  <!-- genetic evidence -->
  <section>
    <H2>Genetic evidence</H2>
    <p class="text-center text-balance">
      <strong>Total:</strong>
      {curation.supercategory_summary?.["Genetic Evidence"] ?? "-"}
    </p>

    {
      curation.genetic_evidence_details?.length ? (
        <EvidenceTable
          client:load
          evidence={curation.genetic_evidence_details ?? []}
        />
      ) : (
        <p class="text-center text-balance">
          No genetic evidence details available.
        </p>
      )
    }
  </section>

  <!-- experimental evidence -->
  <section>
    <H2>Experimental evidence</H2>
    <p class="text-center text-balance">
      <strong>Total:</strong>
      {curation.supercategory_summary?.["Experimental Evidence"] ?? "-"}
    </p>

    {
      curation.experimental_evidence_details?.length ? (
        <EvidenceTable
          client:load
          evidence={curation.experimental_evidence_details ?? []}
        />
      ) : (
        <p class="text-center text-balance">
          No experimental evidence details available.
        </p>
      )
    }
  </section>

  <!-- references -->
  {
    !!curation.references.length && (
      <section>
        <H2>References</H2>

        <p class="text-center text-balance">
          Direct supporting references for info on this page.
        </p>

        <div class="boxes grid-cols-3">
          {curation.references.map((citation) => (
            <Citation client:load {...citation} />
          ))}
        </div>
      </section>
    )
  }

  <!-- notes -->
  <section>
    <Alert>
      Maximum score caps apply at evidence type, category, and supercategory
      levels, so section totals may be lower than the raw sum of row scores.
    </Alert>
  </section>
</Layout>
