---
import { FaGithub } from "react-icons/fa6";
import {
  LuBadgeInfo,
  LuBookMarked,
  LuHandHeart,
  LuMail,
  LuUsers,
} from "react-icons/lu";
import Button from "@/components/Button";
import { H1, H2 } from "@/components/Heading";
import Link from "@/components/Link";
import TableOfContents from "@/components/TableOfContents";
import { team } from "@/data/team";
import Layout from "@/layouts/Layout.astro";
import { repo } from "@/layouts/meta";
import { kebabCase } from "lodash-es";
---

<Layout title="About">
  <TableOfContents client:only="react" />
  <section>
    <H1><LuBadgeInfo />About</H1>
  </section>

  <section>
    <H2><LuMail />Contact</H2>

    <p class="text-center text-balance">
      To get in touch about STRchive, use the contact buttons on <strong
        >any page</strong
      >, found in the <button data-spotlight="#corner-contact"
        >corner of the screen</button
      >
      or the
      <button data-spotlight="#footer-contact">bottom of the page</button>.
    </p>

    <script>
      import { spotlight } from "@/util/dom";

      document.querySelectorAll("[data-spotlight]").forEach((element) => {
        const target = element as HTMLElement;
        element.addEventListener("click", () =>
          spotlight(target.dataset.spotlight),
        );
      });
    </script>
  </section>

  <section>
    <H2><LuBookMarked />Cite</H2>

    <blockquote>
      <span>
        Hiatt, L., Weisburd, B., Dolzhenko, E., Rubinetti, V., Avvaru, A.K.,
        VanNoy, G.E., Kurtas, N.E., Rehm, H.L., Quinlan, A. and Dashnow, H.,
        2025.
      </span><br />
      <b>
        STRchive: a dynamic resource detailing population-level and
        locus-specific insights at tandem repeat disease loci.
      </b><br />
      <span
        >Genome Med doi: <Link to="https://doi.org/10.1186/s13073-025-01454-4"
          >https://doi.org/10.1101/2024.05.21.24307682</Link
        ></span
      >
    </blockquote>
  </section>

  <section>
    <H2><LuHandHeart />Contribute</H2>

    <p>
      STRchive welcomes community contributions. An accurate and up to date
      resource helps everyone. If you find this data useful, consider adding new
      STR loci or updating existing ones by submitting an issue or pull request
      on GitHub:
    </p>

    <div
      class="flex max-w-full flex-wrap items-center justify-center gap-x-5 gap-y-2"
    >
      <Button to={repo} design="bubble">
        <FaGithub /><span>GitHub</span>
      </Button>
    </div>
  </section>

  <section>
    <H2><LuUsers />Team</H2>

    <div
      class="flex max-w-full flex-wrap items-center justify-center gap-x-5 gap-y-2"
    >
      {
        team.map((member) => (
          <Link
            className="flex w-[200px] flex-col p-2.5 no-underline"
            to={member.link}
          >
            <img
              class="mb-2.5 w-full rounded-full shadow-md transition hover:scale-105 hover:saturate-0"
              src={`/images/team/${kebabCase(member.name)}.jpg`}
              alt=""
            />
            <b>{member.name}</b>
            <span>{member.role}</span>
            <span>{member.affiliation}</span>
          </Link>
        ))
      }
    </div>
  </section>
</Layout>
