---
import { FaGithub } from "react-icons/fa6";
import { LuBadgeInfo } from "react-icons/lu";
import { kebabCase } from "lodash-es";
import Heading from "@/components/Heading.astro";
import Link from "@/components/Link";
import TableOfContents from "@/components/TableOfContents";
import { team } from "@/data/team";
import Layout from "@/layouts/Layout.astro";
import { repo } from "@/layouts/meta";
---

<Layout title="About">
  <TableOfContents client:only="react" />
  <section>
    <Heading level={1}><LuBadgeInfo />About</Heading>
  </section>

  <section>
    <Heading level={2}>Contact</Heading>

    <p class="center">
      The best way to get in touch about STRchive is to start a discussion on
      GitHub:
    </p>

    <div class="center">
      <Link to={`${repo}/discussions`} className="button">
        <FaGithub />GitHub</Link
      >
    </div>
  </section>

  <section>
    <Heading level={2}>Cite</Heading>

    <blockquote>
      <span>
        Hiatt, L., Weisburd, B., Dolzhenko, E., VanNoy, G.E., Kurtas, E.N.,
        Rehm, H.L., Quinlan, A. and Dashnow, H., 2024.
      </span><br />
      <b>
        STRchive: a dynamic resource detailing population-level and
        locus-specific insights at tandem repeat disease loci.
      </b><br />
      <span
        >medRxiv doi: <Link to="https://doi.org/10.1101/2024.05.21.24307682"
          >https://doi.org/10.1101/2024.05.21.24307682</Link
        ></span
      >
    </blockquote>
  </section>

  <section>
    <Heading level={2}>Contribute</Heading>

    <p>
      STRchive welcomes community contributions. An accurate and up to date
      resource helps everyone. If you find this data useful, consider adding new
      STR loci or updating existing ones by submitting an issue or pull request
      on GitHub:
    </p>

    <div class="center">
      <Link to={repo} className="button"> <FaGithub />GitHub</Link>
    </div>
  </section>

  <section>
    <Heading level={2}>Team</Heading>

    <div class="members">
      {
        team.map((member) => (
          <Link className="member" to={member.link}>
            <img src={`/images/team/${kebabCase(member.name)}.jpg`} alt="" />
            <b>{member.name}</b>
            <span>{member.role}</span>
            <span>{member.affiliation}</span>
          </Link>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .member {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    text-decoration: none;
  }

  .member > img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 999px;
    box-shadow: var(--box-shadow);
    transition:
      filter var(--fast),
      scale var(--fast);
  }

  .member:hover > img {
    scale: 1.05;
    filter: saturate(0);
  }
</style>
