---
import { FaGithub } from "react-icons/fa6";
import Logo from "@/assets/logo.svg?react";
import Link from "@/components/Link";
import { repo, version } from "@/layouts/meta";

const path = Astro.url.pathname;

const links = [
  { to: "/", name: "Home" },
  { to: "/loci", name: "Loci" },
  { to: "/resources", name: "Resources" },
  { to: "/about", name: "About" },
  { to: "/critria", name: "criTRia" },
];
---

<header
  class="bg-black px-[max(40px,(100%-var(--content))/2)] py-[30px] text-[1.1rem] text-white"
>
  <nav
    class="flex max-w-full flex-wrap items-center justify-center gap-x-5 gap-y-2 max-[480px]:flex-col max-[480px]:gap-4"
  >
    <div
      class="flex max-w-full flex-wrap items-center justify-center gap-x-5 gap-y-2 max-[700px]:w-full"
    >
      {
        path !== "/" && (
          <Link
            to="/"
            className="inline-flex h-[30px] text-white no-underline hover:text-primary"
            aria-label="Home"
          >
            <Logo className="h-full" />
          </Link>
        )
      }

      <Link
        to={`${repo}/blob/main/CITATION.cff`}
        className="inline-flex text-[0.75rem] text-gray no-underline hover:text-primary"
        arrow={false}>{version}</Link
      >
    </div>

    <div
      class="flex max-w-full flex-wrap items-center justify-center gap-x-5 gap-y-2 max-[480px]:flex-col"
    >
      {
        links.map(({ to, name }) => (
          <Link
            to={to}
            className={[
              "relative inline-flex p-[5px] text-white no-underline hover:text-primary after:absolute after:inset-x-0 after:bottom-0 after:h-[2px] after:origin-center after:scale-x-0 after:bg-current after:transition after:content-[''] hover:after:scale-x-100",
              to === path ? "after:scale-x-100" : "",
            ].join(" ")}
            aria-label="GitHub"
          >
            {name}
          </Link>
        ))
      }
    </div>

    <div class="grow max-[700px]:hidden"></div>

    <Link
      to={repo}
      className="relative inline-flex p-[5px] text-white no-underline hover:text-primary after:absolute after:inset-x-0 after:bottom-0 after:h-[2px] after:origin-center after:scale-x-0 after:bg-current after:transition after:content-[''] hover:after:scale-x-100"
      aria-label="GitHub"
    >
      <FaGithub />
    </Link>
  </nav>
</header>
