---
import { FaGithub } from "react-icons/fa6";
import Logo from "@/assets/logo.svg?react";
import Link from "@/components/Link";
import { repo, version } from "@/layouts/meta";

const path = Astro.url.pathname;

const links = [
  { to: "/", name: "Home" },
  { to: "/loci", name: "Loci" },
  { to: "/resources", name: "Resources" },
  { to: "/about", name: "About" },
  { to: "/critria", name: "criTRia" },
  { to: repo, name: "GitHub", icon: FaGithub },
];
---

<header class="bg-black text-white">
  <nav
    class="flex flex-wrap items-center justify-center gap-8 max-sm:flex-col text-lg"
  >
    <div class="flex gap-2 items-baseline">
      {
        path !== "/" && (
          <Link
            to="/"
            className="h-6 text-white no-underline hover:text-primary"
            aria-label="Home"
          >
            <Logo className="h-full" />
          </Link>
        )
      }
      <Link
        to={`${repo}/blob/main/CITATION.cff`}
        className="text-sm text-gray no-underline hover:text-primary "
        arrow={false}
      >
        v{version}
      </Link>
    </div>

    <div
      class="flex flex-wrap items-center justify-center gap-4 max-sm:flex-col"
    >
      {
        links.map(({ to, name, icon: Icon }) => (
          <Link
            to={to}
            className={[
              "relative inline-flex items-center gap-2 p-2 text-white no-underline hover:text-primary after:absolute after:inset-x-0 after:bottom-0 after:h-0.5 after:origin-center after:scale-x-0 after:bg-current after:transition after:content-[''] hover:after:scale-x-100",
              to === path ? "after:scale-x-100" : "",
            ].join(" ")}
          >
            {Icon && <Icon className="size-4" />}
            {name}
          </Link>
        ))
      }
    </div>
  </nav>
</header>
