---
import Logo from "@/assets/logo.svg?react";
import Link from "@/components/Link";
import { repo, version } from "@/layouts/meta";
import { IconBrandGithub } from "@tabler/icons-react";

const path = Astro.url.pathname;

const links = [
  { to: "/", name: "Home" },
  { to: "/loci", name: "Loci" },
  { to: "/resources", name: "Resources" },
  { to: "/about", name: "About" },
  { to: "/critria", name: "criTRia" },
  { to: repo, name: "GitHub", icon: IconBrandGithub },
];
---

<header class="animate-gradients">
  <nav
    class="flex flex-wrap items-center justify-center gap-8 text-lg max-sm:flex-col"
  >
    <div class="flex items-baseline gap-2">
      {
        path !== "/" && (
          <Link
            to="/"
            className="h-8 text-white no-underline hover:text-primary"
            aria-label="Home"
          >
            <Logo className="h-full" />
          </Link>
        )
      }
      <Link
        to={`${repo}/blob/main/CITATION.cff`}
        className="text-sm text-gray no-underline hover:text-primary"
        arrow={false}
      >
        v{version}
      </Link>
    </div>

    <div
      class="flex flex-wrap items-center justify-center gap-4 max-sm:flex-col"
    >
      {
        links.map(({ to, name, icon: Icon }) => (
          <Link
            to={to}
            className={[
              "relative inline-flex items-center gap-2 p-2 text-white no-underline hover:text-primary after:absolute after:inset-x-0 after:bottom-0 after:h-0.5 after:origin-center after:scale-x-0 after:bg-current after:transition after:content-[''] hover:after:scale-x-100",
              to === path ? "after:scale-x-100" : "",
            ].join(" ")}
            arrow={false}
          >
            {Icon && <Icon className="size-4" />}
            {name}
          </Link>
        ))
      }
    </div>
  </nav>

  <slot />
</header>

<style>
  @property --gradient-factor {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }

  .animate-gradients {
    animation: animate-gradients 15s linear infinite;

    --opacity-a: calc(50% - 25% * cos(var(--angle-a)));
    --opacity-b: calc(50% - 25% * cos(var(--angle-b)));

    --color-a: color-mix(
      in srgb,
      var(--color-primary) var(--opacity-a),
      transparent
    );
    --color-b: color-mix(
      in srgb,
      var(--color-secondary) var(--opacity-b),
      transparent
    );

    --angle-a: calc(var(--gradient-factor) * 1turn);
    --angle-b: calc(var(--gradient-factor) * 1turn + 0.5turn);

    --x-a: calc(cos(var(--angle-a)) * 50% + 50%);
    --y-a: calc(sin(var(--angle-a)) * 50% + 150%);
    --x-b: calc(cos(var(--angle-b)) * 50% + 50%);
    --y-b: calc(sin(var(--angle-b)) * 50% + 150%);

    background:
      radial-gradient(
        ellipse at var(--x-a) var(--y-a),
        var(--color-a),
        transparent 75%
      ),
      radial-gradient(
        ellipse at var(--x-b) var(--y-b),
        var(--color-b),
        transparent 75%
      ),
      var(--color-black);
  }

  @keyframes animate-gradients {
    from {
      --gradient-factor: 0;
    }
    to {
      --gradient-factor: 1;
    }
  }
</style>
