---
import { FaGithub } from "react-icons/fa6";
import Logo from "@/assets/logo.svg?react";
import Link from "@/components/Link";
import { repo, version } from "@/layouts/meta";

const path = Astro.url.pathname;

const links = [
  { to: "/", name: "Home" },
  { to: "/loci", name: "Loci" },
  { to: "/resources", name: "Resources" },
  { to: "/about", name: "About" },
];
---

<header>
  <nav class="row">
    <div class="row logo-row">
      {
        path !== "/" && (
          <Link to="/" className="logo-link" aria-label="Home">
            <Logo className="logo" />
          </Link>
        )
      }

      <Link
        to={`${repo}/blob/main/CITATION.cff`}
        className="version"
        showArrow={false}>{version}</Link
      >
    </div>

    <div class="row link-row">
      {
        links.map(({ to, name }) => (
          <Link
            to={to}
            className={["nav-link", to === path ? "active" : ""].join(" ")}
            aria-label="GitHub"
          >
            {name}
          </Link>
        ))
      }
    </div>

    <div class="spacer"></div>

    <Link to={repo} className="nav-link" aria-label="GitHub">
      <FaGithub className="big-icon" />
    </Link>
  </nav>
</header>

<style>
  header {
    padding: 30px max(40px, (100% - var(--content)) / 2);
    background: var(--black);
    color: var(--white);
    font-size: 1.1rem;
  }

  header a {
    display: inline-flex;
    color: var(--white);
    text-decoration: none;
  }

  header a:hover {
    color: var(--primary);
  }

  .logo-link {
    height: 30px;
  }

  .logo {
    height: 100%;
  }

  .version {
    color: var(--gray) !important;
    font-size: 0.75rem;
  }

  .spacer {
    flex-grow: 1;
  }

  .nav-link {
    position: relative;
    padding: 5px;
  }

  .nav-link::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    scale: 0 1;
    background: currentColor;
    content: "";
    transition: scale var(--fast);
  }

  .nav-link.active::after,
  .nav-link:hover::after {
    scale: 1 1;
  }

  @media (max-width: 700px) {
    .logo-row {
      width: 100%;
    }

    .spacer {
      display: none;
    }
  }

  @media (max-width: 480px) {
    nav {
      flex-direction: column;
      gap: 20px;
    }

    .link-row {
      flex-direction: column;
    }
  }
</style>
